html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color-1);
  background-image: url("../public/stars-1.png");
  background-attachment: fixed;
  background-size: 30%;
  animation: body-ani 30s linear infinite forwards;
}

a,
a:focus,
a:hover {
  color: var(--text-color-1);
}
a:hover {
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: montserrat, sans-serif;
}

@keyframes body-ani {
  0% {
    background-position: 0vw min(0vw, 0vh);
  }
  100% {
    background-position: 10vw min(5vw, 5vh);
  }
}

/* Loader */
#loader {
  z-index: 101;
  position: fixed;
  display: flex;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  transition: opacity 2s ease;
  background-color: var(--bg-color-1);
  background-image: url("../public/stars-1.png");
  background-attachment: fixed;
  background-size: 30%;
}

.spinner {
  border: 8px solid var(--bg-color-2);
  border-top: 8px solid var(--main-color-1);
  border-bottom: 8px solid var(--main-color-1);
  border-radius: 50%;
  margin: auto;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Navbar */
#navbar {
  /* background-color: var(--bg-color-2); */
  background-image: linear-gradient(
    var(--nav-bg-color-1) 60%,
    rgb(0, 0, 0, 0) 100%
  );
  position: fixed;
  padding: 0;
  top: 0;
  z-index: 100;
  transition: all 0.5s cubic-bezier(1, 0.73, 0, 1);
}
#navbar.hidden {
  top: -100%;
}

#navbar a {
  color: var(--text-color-1);
}

#navbarLinks {
  justify-content: end;
}

#navbarLinks .nav-link {
  padding: 1rem 2rem;
  font-size: 1.5rem;
}
#navbarLinks .nav-link.active {
  color: var(--main-color-1);
}

/* Events */
#event-dialog-box {
}

#event-detail-box {
  position: fixed;
  width: 30rem;
  height: 10rem;
  background-color: var(--bg-color-2);
}

#events {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 3rem;
}

#events .month-box {
  width: 16rem;
  padding: 0.75rem 1rem 1rem;
  border-radius: 1.5rem;
  background-color: var(--bg-color-2);
}

#events .month-box .name {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 0.25rem;
  border-bottom: var(--text-color-4) solid 2px;
  color: var(--main-color-1);
}

#events .month-box .dates {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.5rem;
  justify-content: space-around;
  color: var(--text-color-1);
}

#events .month-box .date {
  width: 1.7rem;
  height: 1.7rem;
  display: flex;
  font-size: 0.85rem;
  text-align: center;
  margin: 0.25rem;
  border-radius: 100%;
  background-color: var(--bg-color-1);
  cursor: default;
}
#events .month-box .date.active {
  background-color: var(--main-color-1);
  cursor: pointer;
}
#events .month-box .date span {
  margin: auto;
}

/* Main Footer */
.main-footer {
  background-color: var(--bg-color-2);
  background-image: linear-gradient(var(--bg-color-2), #000000);
  color: var(--text-color-1);
}
.main-footer .container-fluid {
  padding-right: 50px;
  padding-left: 50px;
}
.main-footer .heading {
  font-family: montserrat, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  color: var(--text-color-3);
}

.footer-top {
  border-top: 1px solid var(--main-color-1);
  padding: 50px 0 70px;
}

.footer-top li {
  padding: 4px 0;
}

.footer-top ul {
  margin-top: 15px;
}

.footer-logo {
  margin: auto;
}
.footer-logo,
.footer-logo img {
  width: 20vw;
}

.footer-links {
  width: 55%;
  margin-left: auto;
}

.footer-link,
.footer-links p {
  font-family: montserrat, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: var(--text-color-4);
  text-transform: capitalize;
}

.footer-links p {
  margin: 0;
}

.footer-top-flex {
  display: flex;
}

.footer-flex {
  display: flex;
  justify-content: space-around;
}

.footer-bottom {
  display: flex;
  padding: 25px 0;
  border-top: 1px solid var(--main-color-1);
  justify-content: space-between;
}

.footer-bottom a {
  margin-right: 0.5rem;
}

.footer-bottom a svg {
  transition: 0.4s ease;
}

.footer-bottom a:hover svg {
  scale: 1.25;
}

.copyright-wrapper {
  color: var(--text-color-1);
  font-family: montserrat, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

@media (max-width: 576px) {
  .footer-top {
    padding: 30px 0 30px;
  }
  .footer-top-flex {
    display: block;
  }
  .footer-logo,
  .footer-logo img {
    width: 50vw;
  }
  .footer-flex {
    justify-content: space-between;
  }
  .footer-links {
    width: 100%;
    margin-left: 0;
    padding-right: 10%;
  }
  .footer-padding {
    display: none;
  }
  .footer-bottom {
    display: block;
  }
}
