html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color-1);
  background-image: url("../public/stars-1.png");
  background-attachment: fixed;
  background-size: 30%;
  animation: body-ani 30s linear infinite forwards;
}

a,
a:focus,
a:hover {
  color: var(--text-color-1);
}
a:hover {
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: montserrat, sans-serif;
}

@keyframes body-ani {
  0% {
    background-position: 0vw min(0vw, 0vh);
  }
  100% {
    background-position: 10vw min(5vw, 5vh);
  }
}

/* Loader */
#loader {
  z-index: 101;
  position: fixed;
  display: flex;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  transition: opacity 2s ease;
  background-color: var(--bg-color-1);
  background-image: url("../public/stars-1.png");
  background-attachment: fixed;
  background-size: 30%;
}

.spinner {
  border: 8px solid var(--bg-color-2);
  border-top: 8px solid var(--main-color-1);
  border-bottom: 8px solid var(--main-color-1);
  border-radius: 50%;
  margin: auto;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Navbar */
#navbar {
  /* background-color: var(--bg-color-2); */
  background-image: linear-gradient(
    var(--nav-bg-color-1) 60%,
    rgb(0, 0, 0, 0) 100%
  );
  position: fixed;
  padding: 0;
  top: 0;
  z-index: 100;
  transition: all 0.5s cubic-bezier(1, 0.73, 0, 1);
}
#navbar.hidden {
  top: -100%;
}

#navbar a {
  color: var(--text-color-1);
}

#navbarLinks {
  justify-content: end;
}

#navbarLinks .nav-link {
  padding: 1rem 2rem;
  font-size: 1.5rem;
}
#navbarLinks .nav-link.active {
  color: var(--main-color-1);
}

/* Highlights */
#highlights {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2rem;
  margin-bottom: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.highlight-card {
  color: var(--text-color-1);
  display: flex;
  margin: 1rem 0;
  padding: 1rem;
  background-color: var(--bg-color-2);
  border: var(--text-color-4) solid 2px;
  border-radius: 1rem;
  justify-content: center;
}
.highlight-card.h {
  flex-direction: row;
  height: auto;
  min-width: 25rem;
  justify-content: space-between;
}

.highlight-card img {
  height: 10rem;
  width: 50%;
  border-radius: 1rem;
}

.highlight-card-content {
  padding-left: 1rem;
}

/* Startups */
#startups {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.startup-card {
  color: var(--text-color-1);
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  padding: 1rem;
  background-color: var(--bg-color-2);
  border: var(--text-color-4) solid 2px;
  border-radius: 1rem;
  height: auto;
  min-width: 10rem;
}

.startup-card img {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
}

.startup-card-content {
}
