:root {
  --text-color-1: #0f0f0f;
  --text-color-2: #727272;
  --text-color-3: #636363;
  --text-color-4: #393939;
  --text-color-5: #363636;
  --main-color-1: #f4792a;
  --main-color-2: #2385c7;
  --main-color-3: #f4792a;
  --main-color-4: #000;
  --bg-color-1: #ffffff;
  --bg-color-2: #cfcfcf;

  /* --text-color-1: #ffffff;
  --text-color-2: #dad4b5;
  --text-color-3: #dad4b5;
  --text-color-4: #f2e8c6;
  --text-color-5: #f2e8c6;
  --main-color-1: #dac0a3;
  --main-color-2: #dac0a3;
  --main-color-3: #f4792a;
  --bg-color-1: #952323;
  --bg-color-2: #a73121; */

  --text-color-1: #ffffff;
  --text-color-2: #5c8374;
  --text-color-3: #5c8374;
  --text-color-4: #93b1a6;
  --text-color-5: #93b1a6;
  --main-color-1: #a2c579;
  --main-color-2: #a2c579;
  --main-color-3: #016a70;
  --bg-color-1: #040d12;
  --bg-color-2: #183d3d;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: var(--bg-color-1);
}

a,
a:focus,
a:hover {
  color: var(--text-color-1);
}
a:hover {
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: montserrat, sans-serif;
}

/* Navbar */
#navbar {
  background-color: var(--bg-color-2);
  position: absolute;
  padding: 0;
  top: 0;
}
#navbar hidden {
  top: -60px;
}

#navbar a {
  color: var(--text-color-1);
}

#navbarLinks {
  justify-content: end;
}

#navbarLinks a {
  padding: 1rem 2rem;
  font-size: 1.5rem;
}

/* Home Page */
@keyframes home-idea-bulb {
  0% {
    background-image: url("../public/Idea\ Bulb\ 1.png");
  }
  30% {
    background-image: url("../public/Idea\ Bulb\ 1.png");
  }
  35% {
    background-image: url("../public/Idea\ Bulb\ 2.png");
  }
  40% {
    background-image: url("../public/Idea\ Bulb\ 1.png");
  }
  45% {
    background-image: url("../public/Idea\ Bulb\ 2.png");
  }
  50% {
    background-image: url("../public/Idea\ Bulb\ 1.png");
  }
  55% {
    background-image: url("../public/Idea\ Bulb\ 2.png");
  }
  60% {
    background-image: url("../public/Idea\ Bulb\ 1.png");
  }
  65% {
    background-image: url("../public/Idea\ Bulb\ 2.png");
  }
  98% {
    background-image: url("../public/Idea\ Bulb\ 2.png");
  }
  100% {
    background-image: url("../public/Idea\ Bulb\ 1.png");
  }
}

#start {
  height: 70vh;
  font-family: "Domine", sans-serif;
}
@media (min-width: 576px) {
  #start {
    height: 80vh;
  }
}
@media (min-width: 768px) {
  #start {
    height: 100vh;
  }
}

#start h1 {
  font-family: "Domine", sans-serif;
  color: var(--text-color-1);
}

#start p {
  font-family: "Domine", sans-serif;
  color: var(--text-color-2);
}

#start .idea-bulb {
  /* position: absolute;
  left: 27%; */
  position: relative;
  /* left: -2vw; */
  top: -2vw;
  background-image: url("../public/Idea\ Bulb\ 1.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 12vw;
  height: 12vw;
  animation-name: home-idea-bulb;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

#start .start-title {
  padding: 0;
  padding-top: 18%;
}
@media (min-width: 576px) {
  #start .start-title {
    padding-top: 15%;
  }
}
@media (min-width: 768px) {
  #start .start-title {
    padding-top: 12%;
  }
}
@media (min-width: 1200px) {
  #start .start-title {
    padding-top: 6%;
  }
}
@media (min-width: 1400px) {
  #start .start-title {
    padding-top: 5%;
  }
}

/* Mission Statement */
#mission-statement {
  font-family: "Sorts Mill Goudy", sans-serif;
  background-color: var(--bg-color-2);
  color: var(--text-color-1);
}

#mission-statement h1 {
  font-family: "Sorts Mill Goudy", sans-serif;
  font-size: 2.25vw;
  text-align: center;
  margin: 0 10%;
  padding: 10% 0;
}

#mission-statement h1 span {
  font-weight: 600;
}
#mission-statement h1 span:nth-child(2n-1) {
  color: var(--main-color-1);
}
#mission-statement h1 span:nth-child(2n) {
  color: var(--main-color-2);
}

/* Event */
#event-details {
  display: flex;
  height: 90vh;
  margin: 5% 0;
  background-color: var(--bg-color-1);
}

#event-details .main-divider {
  width: 1px;
  background-color: var(--text-color-3);
}

#event-details .event-detail-card {
  height: 50%;
  padding: 5% 15%;
  scale: 1;
  transition: scale 0.2s ease;
}
#event-details .event-detail-card:hover {
  scale: 1.05;
}

#event-details .event-detail-card .event-detail-card_div {
  padding-top: 10%;
  text-align: center;
}

#event-details .event-detail-card-title {
  justify-content: center;
}

#event-details .event-detail-card h1 {
  font-family: "Black Ops One", sans-serif;
  color: var(--text-color-1);
  text-align: left;
  font-size: 2.5vw;
  font-weight: 900;
}

#event-details .event-detail-card p {
  font-size: 1.2vw;
  text-align: left;
  color: var(--text-color-2);
}

#event-details .event-detail-card .arrow {
  width: 40px;
  height: 40px;
  margin: 0.75rem;
  text-align: center;
  border-radius: 50%;
  background-color: var(--main-color-2);
}
#event-details .event-detail-card .arrow:first-child {
  background-color: var(--main-color-1);
}

@media (max-width: 768px) {
  #event-details {
    height: 100vw;
  }
  #event-details .event-detail-card {
    height: 50vw;
  }
  #event-details .event-detail-card .event-detail-card_div {
    padding-top: 10vw;
  }
}

/* Event Cards */
#event {
  padding: 5vw 0;
  width: 60vw;
}

.event-guest {
  height: 36vw;
  border-radius: 1rem;
  background-image: url("../public/guest.png");
  background-color: rgba(255, 255, 255, 0);
  background-blend-mode: darken;
  background-size: 110%;
  background-position: right 0;
  background-repeat: no-repeat;
  transition: background 1s ease;
}

.event-guest h1 {
  display: none;
  color: var(--text-color-1);
  font-size: 3vw;
  font-weight: 800;
  transition: display 1s ease;
}

.event-guest:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.event-guest:hover h1 {
  display: block;
}

/* Event Cards */
#past-events {
  padding: 6vw 0;
  width: 60vw;
  height: 50vw;
}

#past-events .left-arrow,
#past-events .right-arrow {
  position: relative;
  align-self: center;
  z-index: 1;
}
#past-events .right-arrow {
  top: 13vw;
  right: -72vw;
}
#past-events .left-arrow {
  top: 16vw;
  left: -15vw;
}
#past-events .right-arrow svg {
  transform: rotateY(180deg);
}

#past-events .left-arrow svg,
#past-events .right-arrow svg {
  width: min(2.5vw, 2.5vh);
  height: min(2.5vw, 2.5vh);
  fill: var(--text-color-1);
}

.past-event-origin {
  transform-style: preserve-3d;
}

.past-event-card {
  position: absolute;
  height: 36vw;
  width: 60vw;
  border-radius: 1rem;
  background-image: url("../public/guest.png");
  background-color: rgba(255, 255, 255, 0);
  background-blend-mode: darken;
  background-size: 110%;
  background-position: right 0;
  background-repeat: no-repeat;
  transition: background 1s ease;
}
.past-event-card:hover {
  cursor: default;
}

.past-event-card h1 {
  display: none;
  color: var(--text-color-1);
  font-size: 3vw;
  font-weight: 800;
  transition: display 1s ease;
}

.past-event-card:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.past-event-card:hover h1 {
  display: block;
}

/* About Us */
#aboutus {
  background-color: var(--bg-color-2);
  color: var(--text-color-1);
}

#aboutus .ceed-icon {
  width: 9vw;
  height: auto;
}

#aboutus h1 {
  font-size: 2.5vw;
  margin: 0 10%;
  padding: 10% 0;
}

#aboutus h1 span {
  font-weight: 600;
}
#aboutus h1 span:nth-child(2n-1) {
  color: var(--main-color-1);
}
#aboutus h1 span:nth-child(2n) {
  color: var(--main-color-2);
}

/* Organizers */
@keyframes organizers {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-15vw * 8));
  }
}

#organizers {
  width: 100%;
  height: 25vw;
}

#organizers .organizers-view {
  height: 100%;
  padding-top: 5vw;
  padding-bottom: 5vw;
  overflow-x: hidden;
}

#organizers .organizer-list {
  height: 100%;
  width: calc(15vw * 8);
  animation: organizers 15s linear infinite;
  justify-content: space-around;
}

#organizers .organizer-card {
  height: 15vw;
  width: 15vw;
}

/* Main Footer */
.main-footer {
  background-color: var(--bg-color-2);
  color: var(--text-color-1);
}
.main-footer .container-fluid {
  padding-right: 50px;
  padding-left: 50px;
}
.main-footer .heading {
  font-family: montserrat, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  color: var(--text-color-3);
}

.footer-top {
  padding: 50px 0 70px;
}

.footer-top li {
  padding: 4px 0;
}

.footer-top ul {
  margin-top: 15px;
}

.footer-logo {
  width: 20%;
}

.footer-links {
  width: 55%;
  margin-left: auto;
}

.footer-link {
  font-family: montserrat, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: var(--text-color-4);
  text-transform: capitalize;
}

.footer-flex {
  display: flex;
}

.footer-bottom {
  display: flex;
  padding: 25px 0;
  border-top: 1px solid var(--bg-color-1);
  justify-content: space-between;
}

.footer-bottom a {
  margin-right: 0.5rem;
}

.footer-bottom a svg {
  transition: 0.4s ease;
}

.footer-bottom a:hover svg {
  scale: 1.25;
}

.copyright-wrapper {
  color: var(--text-color-1);
  font-family: montserrat, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
